[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Xertz"]
	path = Xertz
	url = https://github.com/CosmoCortney/Xertz.git
