# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

.vs/
out/
*.vscode
*.vcxproj
*.filters
cmake_install.cmake
CMakeCache.txt
*.sln
CMakeFiles/
x64/
lua/
sol2/
MungPlex/Debug/
MungPlex/lualib.dir/
MungPlex/MainLibrary.dir/
MungPlex/MungPlex.dir/
