[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "include/Xertz"]
	path = include/Xertz
	url = https://github.com/CosmoCortney/Xertz.git
[submodule "include/ImGuiFileDialog"]
	path = include/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "include/ImGui_MemoryEditor"]
	path = include/ImGui_MemoryEditor
	url = https://github.com/CosmoCortney/imgui_club-MemoryViewer-ForeignProcesses.git
[submodule "include/MemoryCompare"]
	path = include/MemoryCompare
	url = https://github.com/CosmoCortney/MemoryCompare.git
